.card{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 25px;
    border-radius: 8px;
}

.nome_servico{
    color: var(--branco);
}

.descricao{
    color: var(--branco);
}

.imagem{
    width: 100%;
    border-radius: 8px;
}