#agendar_servico{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario_servico{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
}

.div_profissionais_servico{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background);
    width: 100%;
}

.div_profissionais_servico div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

